/* CSS declarations go here */

#layout_header{
	margin-top: 0.5em;
}

#new_post_creator{
	margin-left: 4em;
}

#new_post_input{
	margin-bottom: 1em;
	float: left;
}

#new_post_textarea{
	float:left;
	clear: both;
}

#tags{
	clear: both;
}

.new_post_tag_select{
	margin-top: 1em;
	display: inline;
}

#new_post_creator input#submit_button{
	float: left;
	margin-top: 1em;
}