body{
	height: 600px;
}
$single_post_margin: 1em;

// LAYOUT

#layout_by_line{
	margin-top: -1em;
	margin-right: 1em;
}

#new_post_button{
	margin: -1em 1em 1em 0em;
}

#layout_header_row_2{
	margin-bottom: 2em
}


// HOME

.single_post{
	border-style: solid;
	border-color: black;
	border-width: 2px;
	width: 250px;
	height: 180px;
	margin: $single_post_margin;
	padding: 1em;
	position: relative;
	float: left;
	clear: right;

	.post_title{
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 1em;
	}

	.post_tags{
		position: absolute;
		bottom: 0px;
		margin-left: -0.5em;
	}

	.post_tags li{
		list-style-type: none;
		float: left;
		margin-right: 1em;
	}

	#new_post_textarea{
		float: left;
	}
}

.home_container{
	text-align: center;
}

// SINGLE POST

.post_container{
	margin: 0 auto;
	display: inline-block;

	.post_tags, .post_details{
		position: relative;
		padding: 0;
		font-weight: bold;
	}

	.post_details{
		font-weight: normal;
	}

	.post_tags li,
	.post_details li{
		list-style-type: none;
		float: left;
		margin-right: 1em;
		text-align: center;
	}

	.post_title{
	margin: 0 0 0.5em 0;
	font-weight: bold;
	font-size: 30px;
	text-align: left;
	}

	.post_body{
		margin: 0 auto;
		display: inline-block;
		text-align: left;
	}
}

.hr{
	margin-top: 3em;
	clear: both;
}

.messages_area{
	margin-top: 1em;
}

.single_post_container{
	margin-left: 6em;
}

#new_post_textarea{
	float: left;
}

.message{
	display: inline-block;
}

.message li{
	list-style-type: none;
	text-align: left;
	margin-top: 1em;
}

// NEW POST

#new_post_value{
	margin-left: 1em;
}

#needed_by{
	margin-top: 1em;
}

