body {
  height: 600px; }

#layout_by_line {
  margin-top: -1em;
  margin-right: 1em; }

#new_post_button {
  display: inline-block; }

#layout_header_row_2 {
  margin-bottom: 2em; }

#connections_tab {
  margin-top: 0em;
  float: right;
  display: inline-block; }

#sub_nav_bar {
  float: right;
  margin-bottom: 1.5em; }

.single_post {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 250px;
  height: 180px;
  margin: 1em;
  padding: 1em;
  position: relative;
  float: left;
  clear: right; }
  .single_post .post_title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 1em; }
  .single_post .post_tags {
    position: absolute;
    bottom: 0px;
    margin-left: -0.5em; }
  .single_post .post_tags li {
    list-style-type: none;
    float: left;
    margin-right: 1em; }
  .single_post #new_post_textarea {
    float: left; }
  .single_post .post_body {
    text-align: left; }

.home_container {
  text-align: center; }

.post_container {
  margin: 0 auto;
  display: inline-block; }
  .post_container .post_tags, .post_container .post_details {
    position: relative;
    padding: 0;
    font-weight: bold;
    margin-bottom: 3em; }
  .post_container .post_details {
    font-weight: normal; }
  .post_container .post_tags li,
  .post_container .post_details li {
    list-style-type: none;
    float: left;
    margin-right: 1em;
    text-align: center; }
  .post_container .post_title {
    margin: 0 0 0.5em 0;
    font-weight: bold;
    font-size: 30px;
    text-align: left; }
  .post_container .post_body {
    margin: 0 auto;
    display: inline-block;
    text-align: left; }

.hr {
  clear: both; }

.messages_area {
  margin-top: 1em; }

.single_post_container {
  margin-left: 6em; }

#new_post_textarea {
  float: left; }

.message {
  display: inline-block; }

.message li {
  list-style-type: none;
  text-align: left;
  margin-top: 1em; }

#message_content {
  margin-bottom: 0.5em;
  font-size: 18px; }

#message_details {
  font-size: 14px;
  margin-left: 0.5em; }

#winning_message {
  color: blue; }
  #winning_message #message_content {
    font-size: 22px; }
  #winning_message #message_details {
    font-size: 18px; }

#new_post_value {
  margin-left: 1em; }

#needed_by {
  margin-top: 1em; }

.matches {
  margin-bottom: 1em; }

#user_profile_body {
  width: 90%; }
  #user_profile_body #as_contractor {
    position: relative;
    float: left;
    left: 10%; }
    #user_profile_body #as_contractor .contractor_post {
      position: relative;
      left: 25%; }
  #user_profile_body #as_poster {
    display: inline-block;
    float: left;
    position: relative;
    left: 40%; }
    #user_profile_body #as_poster .poster_post {
      position: relative;
      left: 25%; }

#edit_bio {
  display: none; }

#edit_bio_button {
  margin-bottom: 1em; }

#user_header {
  width: 100%; }
  #user_header #user_header_text {
    margin-bottom: 0.5em; }
  #user_header #verified_status {
    margin-bottom: 0.5em; }
  #user_header #user_bio {
    position: relative;
    left: 5%; }

#about_container {
  width: 90%; }
  #about_container #line_1 {
    position: relative;
    left: 12%; }
  #about_container #line_2 {
    position: relative;
    left: 12%; }
  #about_container #line_3 {
    position: relative;
    left: 12%; }

/*# sourceMappingURL=styles.css.map */
